@import "./components/google-button.scss";
@import "./components/facebook-button.scss";
@import "./components/loader";


$primary:       #f88100;
$secondary:     #5e7e79;

#login-page{

    .login-header{
        margin-top :2rem;
    }

    .form-control {
        max-width : 70%;
    }

    .forget-password {
        margin-bottom:1rem;
        font-weight: 500;
        a{
            display:block;
            max-width: 70%;
        }
    }

    .login-or {
        font-weight: 500;
    }

    button {
        display:block;
        min-width:70%;
    }

    .feedback {
        display: none;
        &.show-feedback {
            display: block;
        }
    }

    .valid-feedback , .invalid-feedback {
        max-width:70%;
    }

    .login-loader {
        display:none;
        div {
            &:after{
                background:$primary;
            }
        }

        &.loader-show {
            display: block;
        }
    }
    
}

@media (max-width: 400px) { 

    #login-page{
        .form-control {
            max-width : 90%;
        }

        button {
            min-width:90%;
        }

        .valid-feedback , .invalid-feedback {
            max-width : 90%;
        }

    }

}


@media (min-width: 768px) and (max-width: 991.98px) { 

    #login-page{
        .form-control {
            max-width : 100%;
        }

        button {
            min-width:100%;
        }

        .valid-feedback , .invalid-feedback {
            max-width : 100%;
        }

    }
}